<%- include('./common/header.ejs')%>




<div><h1>data created</h1></div>




    </div>
    <marquee behavior="alternate" scrollamount="10">
        <div class="foot">YOU CAN CREATE , READ , UPDATE AND DELETE ANY USER'S INFORMATION</div>
    </marquee>

    </div>
    <%- include('./common/footer.ejs')%>